h1 {
  background-color: #B22222;
  text-align: center;
  color: #F8F0C6;
}

footer {
  text-align: center;
  padding: 10px;
}

/* borrowed from https://www.codeply.com/go/4FdZGlPMNV/bootstrap-4-custom-navbar-toggler-icon-color*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: black;
}

.nav-link {
  color: #B22222;
}

.nav-link:hover {
  color: grey;
}

.navbar {
  background-color: #F8F0C6;
}

.navlink {
  color: #B22222;
}

.icon {
  max-height: 100%;
  max-width: 20%;
}

.headingText {
  text-align: center;
  float: center;
}

.mainContent {
  padding: 20px;
}
