h1 {
  background-color: 	#8B0000;
  text-align: center;
  color: #f6e2bb;
}

footer {
  text-align: center;
  padding: 10px;
}

.btn-primary {
  background-color: #8B0000;
  border-color: #8B0000;
}

.btn-primary:hover {
  background-color: #ff7777;
  border-color: #8B0000;
}

/* borrowed from https://www.codeply.com/go/4FdZGlPMNV/bootstrap-4-custom-navbar-toggler-icon-color*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: black;
}

.nav-link {
  color: #8B0000;
}

.nav-link:hover {
  color: grey;
}

.navbar {
  background-color:#f6e2bb;
}

.navlink {
  color: #8B0000;
}

.icon {
  max-height: 100%;
  max-width: 20%;
}

.headingText {
  text-align: center;
  float: center;
}

.mainContent {
  padding: 20px;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th
{
	padding: 15px;
	background-color: #8B0000;
	color: #fff;
}

td

{
	padding: 15px;
	background-color: #D3D3D3;
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: #8B0000;
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
