<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Certification Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="certInfo.html">Certification Information</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="expCertRpt.html">Expired Cert. Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="memListRpt.html">Member Report</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div id="mainContent" class="col-md">
        <h1>Certification</h1>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Certification ID</th>
              <th>Certifying agency</th>
              <th>Certification name</th>
              <th>Expiration period</th>
            </tr>
          </thead>
          <tbody>

            <tr v-for="c in certificates">
              <td>{{ c.cId }}</td>
              <td>{{ c.agency }}</td>
              <td>{{ c.certName }}</td>
              <td>{{ c.expiry }}</td>
            </tr>

          </tbody>
        </table>


            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Change Certification</button>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Delete Certification</button>
              </div>
            </div>
          </form>

          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Radio Number</th>
                <th>Station Number</th>
                <th>Is Active?</th>
              </tr>
            </thead>
            <h1>Members</h1>
            <tbody>
              <tr v-for="m in members">
                <td>{{ m.firstName }}</td>
                <td>{{ m.lastName }}</td>
                <td>{{ m.radioNumber }}</td>
                <td>{{ m.stationNumber }}</td>
                <td v-if = "m.isActive" >Active</td>
                <td v-else>Inactive</td>
              </tr>
            </tbody>
          </table>
        </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/waiting.app.js"></script>
  <script src="js/record.app.js"></script>
  <script src="js/triage.app.js"></script>
</body>
</html>
